{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container">
      <h2 class="border-top mb-4">Hospital Employees</h2>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Hospital</th>
                <th scope="col">Boss</th>
                <!-- <th scope="c</th> -->
              </tr>
            </thead>
            <tbody>
                {% for emp in object_list %}
              <tr>
                <td>{{ emp.first_name }} {{emp.last_name}}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.type }}</td>
                <td>{{ emp.current_hospital }}</td>
                <td>{{emp.current_hospital.manager.first_name}} {{emp.current_hospital.manager.last_name}}</td>
                {% if emp.type == 'ENGINEER' %}
                  <td><a href="{% url 'assign-department' emp.id %}"><button class='btn btn-primary'>Assigned Departments</button></a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    
{% endblock %}